In [1]:
%matplotlib inline
from config import API_KEY
import requests
import sample
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
API_HOST = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses'

file_name_city = 'city_list.csv'
final_file = 'gym_concept_ratio.csv'
CITY_STATE = pd.read_csv(file_name_city)
CITY_STATE['location'] = CITY_STATE.city + ',' + CITY_STATE.state

# CITY = ['Atlanta', 'Chicago', 'Dallas', 'Denver', 'Detroit', 'Los Angeles','Miami', 'Philadelphia', 'New York']
# STATE = ['Georgia', 'Illinois', 'Texas', 'Colorado', 'Michigan', 'California','Florida', 'Pennsylvania', 'New York']

In [3]:
locations = []

for location in CITY_STATE['location']:
    locations.append(location)
locations

['New York,NY',
 'Los Angeles,CA',
 'Chicago,IL',
 'Houston,TX',
 'Phoenix,AZ',
 'Philadelphia,PA',
 'San Antonio,TX',
 'San Diego,CA',
 'Dallas,TX',
 'San Jose,CA',
 'Austin,TX',
 'Jacksonville,FL',
 'San Francisco,CA',
 'Columbus,OH',
 'Indianapolis,IN',
 'Fort Worth,TX',
 'Charlotte,NC',
 'Seattle,WA',
 'Denver,CO',
 'El Paso,TX',
 'Washington,DC',
 'Boston,MA',
 'Detroit,MI',
 'Nashville,TN',
 'Memphis,TN',
 'Portland,OR',
 'Oklahoma City,OK',
 'Las Vegas,NV',
 'Louisville,KY',
 'Baltimore,MD',
 'Milwaukee,WI',
 'Albuquerque,NM',
 'Tucson,AZ',
 'Fresno,CA',
 'Sacramento,CA',
 'Mesa,AZ',
 'Kansas City,MO',
 'Atlanta,GA',
 'Long Beach,CA',
 'Colorado Springs,CO',
 'Raleigh,NC',
 'Miami,FL',
 'Virginia Beach,VA',
 'Omaha,NE',
 'Oakland,CA',
 'Minneapolis,MN',
 'Tulsa,OK',
 'Arlington,TX',
 'New Orleans,LA']

In [4]:
#For test: locations = ["Austin,TX", "Round Rock,TX"]
term = "gyms"
limit = 50
open_at_time = 1528961400 # Gyms open on Thursday 1:30 a.m. CST

In [5]:
# get total gyms

def get_total_gym(term, locations):
    
    total_gym = []
    
    for location in locations:
        params={
            "term" : term,
            "location" : location,
            "limit" : 50,
        }
        
        response = sample.request(API_HOST, SEARCH_PATH, API_KEY, params)
        total = response['total']
        print(f"get_total_gym: {total} gyms in {location}")
        
        total_gym.append(total)
        
    final_df = pd.DataFrame({
         "location" : locations,
        "total_gyms" : total_gym  
    })
        
    return final_df

In [6]:
test_df = get_total_gym(term,locations)

Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 5100 gyms in New York,NY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 6600 gyms in Los Angeles,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2300 gyms in Chicago,IL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Houston,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1700 gyms in Phoenix,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1400 gyms in Philadelphia,PA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 533 gyms in San Antonio,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2400 gyms in San Diego,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Dallas,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1900 gyms in San Jose,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1200 gyms in Austin,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 341 gyms in Jacksonville,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2600 gyms in San Francisco,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 438 gyms in Columbus,OH
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 410 gyms in Indianapolis,IN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 726 gyms in Fort Worth,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 562 gyms in Charlotte,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Seattle,WA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Denver,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 121 gyms in El Paso,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1200 gyms in Washington,DC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1300 gyms in Boston,MA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 718 gyms in Detroit,MI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 460 gyms in Nashville,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 174 gyms in Memphis,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1100 gyms in Portland,OR
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 237 gyms in Oklahoma City,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 850 gyms in Las Vegas,NV
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 203 gyms in Louisville,KY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 336 gyms in Baltimore,MD
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 379 gyms in Milwaukee,WI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 248 gyms in Albuquerque,NM
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 306 gyms in Tucson,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 217 gyms in Fresno,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1000 gyms in Sacramento,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Mesa,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 467 gyms in Kansas City,MO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Atlanta,GA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Long Beach,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 203 gyms in Colorado Springs,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 574 gyms in Raleigh,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1300 gyms in Miami,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 365 gyms in Virginia Beach,VA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 205 gyms in Omaha,NE
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2500 gyms in Oakland,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 819 gyms in Minneapolis,MN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 154 gyms in Tulsa,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 289 gyms in Arlington,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 293 gyms in New Orleans,LA

In [7]:
def get_total_24hr_gym(term, locations, open_at_time):
    
    total_gym = []
    
    for location in locations:
        params={
            "term" : term,
            "location" : location,
            "open_at" : open_at_time,
            "limit" : 50,
        }
        
        response = sample.request(API_HOST, SEARCH_PATH, API_KEY, params)
        total = response['total']
        print(f"get_total_24hr_gym: {total} gyms in {location}")
        
        total_gym.append(total)
        
    final_df = pd.DataFrame({
         "location" : locations,
        "total_24hr_gyms" : total_gym  
    })
        
    return final_df

In [8]:
def main(term, locations, open_at_time, file_name):
    total_24hr_gym = get_total_24hr_gym(term, locations, open_at_time)
    total_gym = get_total_gym(term, locations)
    combined_gym = pd.merge(total_gym, total_24hr_gym, on='location', left_index=True)
    combined_gym['ratio%'] = (combined_gym.total_24hr_gyms/combined_gym.total_gyms*100).round(2)
    combined_gym.to_csv(file_name, index=False)
    return combined_gym

In [9]:
final = main(term, locations, open_at_time, 'gym_ratio.csv')

Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 152 gyms in New York,NY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 185 gyms in Los Angeles,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 114 gyms in Chicago,IL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 104 gyms in Houston,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 90 gyms in Phoenix,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 86 gyms in Philadelphia,PA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 55 gyms in San Antonio,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 75 gyms in San Diego,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 128 gyms in Dallas,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 49 gyms in San Jose,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 55 gyms in Austin,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 32 gyms in Jacksonville,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 37 gyms in San Francisco,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 32 gyms in Columbus,OH
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 51 gyms in Indianapolis,IN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 80 gyms in Fort Worth,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 52 gyms in Charlotte,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 44 gyms in Seattle,WA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 96 gyms in Denver,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 19 gyms in El Paso,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 37 gyms in Washington,DC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 21 gyms in Boston,MA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 69 gyms in Detroit,MI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 48 gyms in Nashville,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 16 gyms in Memphis,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 54 gyms in Portland,OR
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 30 gyms in Oklahoma City,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 72 gyms in Las Vegas,NV
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 28 gyms in Louisville,KY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 28 gyms in Baltimore,MD
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 41 gyms in Milwaukee,WI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 32 gyms in Albuquerque,NM
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 22 gyms in Tucson,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 15 gyms in Fresno,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 48 gyms in Sacramento,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 77 gyms in Mesa,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 42 gyms in Kansas City,MO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 115 gyms in Atlanta,GA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 67 gyms in Long Beach,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 13 gyms in Colorado Springs,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 28 gyms in Raleigh,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 47 gyms in Miami,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 35 gyms in Virginia Beach,VA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 18 gyms in Omaha,NE
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 44 gyms in Oakland,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 100 gyms in Minneapolis,MN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 22 gyms in Tulsa,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 40 gyms in Arlington,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_24hr_gym: 30 gyms in New Orleans,LA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 5100 gyms in New York,NY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 6600 gyms in Los Angeles,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2300 gyms in Chicago,IL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Houston,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1700 gyms in Phoenix,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1400 gyms in Philadelphia,PA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 533 gyms in San Antonio,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2400 gyms in San Diego,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Dallas,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1900 gyms in San Jose,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1200 gyms in Austin,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 341 gyms in Jacksonville,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2600 gyms in San Francisco,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 438 gyms in Columbus,OH
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 410 gyms in Indianapolis,IN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 726 gyms in Fort Worth,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 562 gyms in Charlotte,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Seattle,WA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1600 gyms in Denver,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 121 gyms in El Paso,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1200 gyms in Washington,DC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1300 gyms in Boston,MA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 718 gyms in Detroit,MI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 460 gyms in Nashville,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 174 gyms in Memphis,TN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1100 gyms in Portland,OR
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 237 gyms in Oklahoma City,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 850 gyms in Las Vegas,NV
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 203 gyms in Louisville,KY
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 336 gyms in Baltimore,MD
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 379 gyms in Milwaukee,WI
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 248 gyms in Albuquerque,NM
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 306 gyms in Tucson,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 217 gyms in Fresno,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1000 gyms in Sacramento,CA
Querying https://api.yelp.com/v3/businesses/search ...

get_total_gym: 1500 gyms in Mesa,AZ
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 467 gyms in Kansas City,MO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Atlanta,GA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1500 gyms in Long Beach,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 203 gyms in Colorado Springs,CO
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 574 gyms in Raleigh,NC
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 1300 gyms in Miami,FL
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 365 gyms in Virginia Beach,VA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 205 gyms in Omaha,NE
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 2500 gyms in Oakland,CA
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 819 gyms in Minneapolis,MN
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 154 gyms in Tulsa,OK
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 289 gyms in Arlington,TX
Querying https://api.yelp.com/v3/businesses/search ...
get_total_gym: 293 gyms in New Orleans,LA

In [10]:
final["city"] = final["location"].apply(lambda x: x.split(",")[0])
final["state"] = final["location"].apply(lambda x: x.split(",")[1])
final

,location,total_gyms,total_24hr_gyms,ratio%,city,state
0,"New York,NY",5100,152,2.98,New York,NY
1,"Los Angeles,CA",6600,185,2.80,Los Angeles,CA
2,"Chicago,IL",2300,114,4.96,Chicago,IL
3,"Houston,TX",1500,104,6.93,Houston,TX
4,"Phoenix,AZ",1700,90,5.29,Phoenix,AZ
5,"Philadelphia,PA",1400,86,6.14,Philadelphia,PA
6,"San Antonio,TX",533,55,10.32,San Antonio,TX
7,"San Diego,CA",2400,75,3.12,San Diego,CA
8,"Dallas,TX",1600,128,8.00,Dallas,TX
9,"San Jose,CA",1900,49,2.58,San Jose,CA
10,"Austin,TX",1200,55,4.58,Austin,TX
11,"Jacksonville,FL",341,32,9.38,Jacksonville,FL
12,"San Francisco,CA",2600,37,1.42,San Francisco,CA
13,"Columbus,OH",438,32,7.31,Columbus,OH
14,"Indianapolis,IN",410,51,12.44,Indianapolis,IN
15,"Fort Worth,TX",726,80,11.02,Fort Worth,TX
16,"Charlotte,NC",562,52,9.25,Charlotte,NC
17,"Seattle,WA",1600,44,2.75,Seattle,WA
18,"Denver,CO",1600,96,6.00,Denver,CO
19,"El Paso,TX",121,19,15.70,El Paso,TX
20,"Washington,DC",1200,37,3.08,Washington,DC
21,"Boston,MA",1300,21,1.62,Boston,MA
22,"Detroit,MI",718,69,9.61,Detroit,MI
23,"Nashville,TN",460,48,10.43,Nashville,TN
24,"Memphis,TN",174,16,9.20,Memphis,TN
25,"Portland,OR",1100,54,4.91,Portland,OR
26,"Oklahoma City,OK",237,30,12.66,Oklahoma City,OK
27,"Las Vegas,NV",850,72,8.47,Las Vegas,NV
28,"Louisville,KY",203,28,13.79,Louisville,KY
29,"Baltimore,MD",336,28,8.33,Baltimore,MD
30,"Milwaukee,WI",379,41,10.82,Milwaukee,WI
31,"Albuquerque,NM",248,32,12.90,Albuquerque,NM
32,"Tucson,AZ",306,22,7.19,Tucson,AZ
33,"Fresno,CA",217,15,6.91,Fresno,CA
34,"Sacramento,CA",1000,48,4.80,Sacramento,CA
35,"Mesa,AZ",1500,77,5.13,Mesa,AZ
36,"Kansas City,MO",467,42,8.99,Kansas City,MO
37,"Atlanta,GA",1500,115,7.67,Atlanta,GA
38,"Long Beach,CA",1500,67,4.47,Long Beach,CA
39,"Colorado Springs,CO",203,13,6.40,Colorado Springs,CO
40,"Raleigh,NC",574,28,4.88,Raleigh,NC
41,"Miami,FL",1300,47,3.62,Miami,FL
42,"Virginia Beach,VA",365,35,9.59,Virginia Beach,VA
43,"Omaha,NE",205,18,8.78,Omaha,NE
44,"Oakland,CA",2500,44,1.76,Oakland,CA
45,"Minneapolis,MN",819,100,12.21,Minneapolis,MN
46,"Tulsa,OK",154,22,14.29,Tulsa,OK
47,"Arlington,TX",289,40,13.84,Arlington,TX
48,"New Orleans,LA",293,30,10.24,New Orleans,LA

In [11]:
populations = pd.read_csv("city_populations.csv")

In [12]:
populations

                city state  population
0           New York    NY     8537673
1        Los Angeles    CA     3976322
2            Chicago    IL     2704958
3            Houston    TX     2303482
4            Phoenix    AZ     1615017
5       Philadelphia    PA     1567872
6        San Antonio    TX     1492510
7          San Diego    CA     1406630
8             Dallas    TX     1317929
9           San Jose    CA     1025350
10            Austin    TX      947890
11      Jacksonville    FL      880619
12     San Francisco    CA      870887
13          Columbus    OH      860090
14      Indianapolis    IN      855164
15        Fort Worth    TX      854113
16         Charlotte    NC      842051
17           Seattle    WA      704352
18            Denver    CO      693060
19           El Paso    TX      683080
20        Washington    DC      681170
21            Boston    MA      673184
22           Detroit    MI      672795
23         Nashville    TN      660388
24           Memphis    TN      652717
25          Portland    OR      639863
26     Oklahoma City    OK      638367
27         Las Vegas    NV      632912
28        Louisville    KY      616261
29         Baltimore    MD      614664
30         Milwaukee    WI      595047
31       Albuquerque    NM      559277
32            Tucson    AZ      530706
33            Fresno    CA      522053
34        Sacramento    CA      495234
35              Mesa    AZ      484587
36       Kansas City    MO      481420
37           Atlanta    GA      472522
38        Long Beach    CA      470130
39  Colorado Springs    CO      465101
40           Raleigh    NC      458880
41             Miami    FL      453579
42    Virginia Beach    VA      452602
43             Omaha    NE      446970
44           Oakland    CA      420005
45       Minneapolis    MN      413651
46             Tulsa    OK      403090
47         Arlington    TX      392772
48       New Orleans    LA      391495

In [13]:
final = pd.merge(final, populations, on= ["city", "state"], how="inner")

In [15]:
final.head()
# final["population"] = final["population"].apply(lambda x: x.replace(",",""))
final["population"] = final["population"].astype(float)

In [16]:
final.dtypes

location            object
total_gyms           int64
total_24hr_gyms      int64
ratio%             float64
city                object
state               object
population         float64
dtype: object

In [63]:
final["total_gyms_per_thousand_people"] = final["total_gyms"]/final["population"] * 1000

final["24 hour gyms per thousand people"] = final["total_24hr_gyms"]/final["population"] * 1000

final_df = final.rename(columns={"city": "City"})

In [64]:
final_df

,location,total_gyms,total_24hr_gyms,ratio%,City,state,population,total_gyms_per_thousand_people,24 hour gyms per thousand people
0,"New York,NY",5100,152,2.98,New York,NY,8537673.0,0.597352,0.017803
1,"Los Angeles,CA",6600,185,2.80,Los Angeles,CA,3976322.0,1.659825,0.046525
2,"Chicago,IL",2300,114,4.96,Chicago,IL,2704958.0,0.850290,0.042145
3,"Houston,TX",1500,104,6.93,Houston,TX,2303482.0,0.651188,0.045149
4,"Phoenix,AZ",1700,90,5.29,Phoenix,AZ,1615017.0,1.052620,0.055727
5,"Philadelphia,PA",1400,86,6.14,Philadelphia,PA,1567872.0,0.892930,0.054851
6,"San Antonio,TX",533,55,10.32,San Antonio,TX,1492510.0,0.357117,0.036851
7,"San Diego,CA",2400,75,3.12,San Diego,CA,1406630.0,1.706206,0.053319
8,"Dallas,TX",1600,128,8.00,Dallas,TX,1317929.0,1.214026,0.097122
9,"San Jose,CA",1900,49,2.58,San Jose,CA,1025350.0,1.853026,0.047789
10,"Austin,TX",1200,55,4.58,Austin,TX,947890.0,1.265970,0.058024
11,"Jacksonville,FL",341,32,9.38,Jacksonville,FL,880619.0,0.387228,0.036338
12,"San Francisco,CA",2600,37,1.42,San Francisco,CA,870887.0,2.985462,0.042485
13,"Columbus,OH",438,32,7.31,Columbus,OH,860090.0,0.509249,0.037205
14,"Indianapolis,IN",410,51,12.44,Indianapolis,IN,855164.0,0.479440,0.059638
15,"Fort Worth,TX",726,80,11.02,Fort Worth,TX,854113.0,0.850005,0.093664
16,"Charlotte,NC",562,52,9.25,Charlotte,NC,842051.0,0.667418,0.061754
17,"Seattle,WA",1600,44,2.75,Seattle,WA,704352.0,2.271591,0.062469
18,"Denver,CO",1600,96,6.00,Denver,CO,693060.0,2.308602,0.138516
19,"El Paso,TX",121,19,15.70,El Paso,TX,683080.0,0.177139,0.027815
20,"Washington,DC",1200,37,3.08,Washington,DC,681170.0,1.761675,0.054318
21,"Boston,MA",1300,21,1.62,Boston,MA,673184.0,1.931121,0.031195
22,"Detroit,MI",718,69,9.61,Detroit,MI,672795.0,1.067190,0.102557
23,"Nashville,TN",460,48,10.43,Nashville,TN,660388.0,0.696560,0.072685
24,"Memphis,TN",174,16,9.20,Memphis,TN,652717.0,0.266578,0.024513
25,"Portland,OR",1100,54,4.91,Portland,OR,639863.0,1.719118,0.084393
26,"Oklahoma City,OK",237,30,12.66,Oklahoma City,OK,638367.0,0.371260,0.046995
27,"Las Vegas,NV",850,72,8.47,Las Vegas,NV,632912.0,1.342999,0.113760
28,"Louisville,KY",203,28,13.79,Louisville,KY,616261.0,0.329406,0.045435
29,"Baltimore,MD",336,28,8.33,Baltimore,MD,614664.0,0.546640,0.045553
30,"Milwaukee,WI",379,41,10.82,Milwaukee,WI,595047.0,0.636924,0.068902
31,"Albuquerque,NM",248,32,12.90,Albuquerque,NM,559277.0,0.443430,0.057217
32,"Tucson,AZ",306,22,7.19,Tucson,AZ,530706.0,0.576590,0.041454
33,"Fresno,CA",217,15,6.91,Fresno,CA,522053.0,0.415667,0.028733
34,"Sacramento,CA",1000,48,4.80,Sacramento,CA,495234.0,2.019247,0.096924
35,"Mesa,AZ",1500,77,5.13,Mesa,AZ,484587.0,3.095419,0.158898
36,"Kansas City,MO",467,42,8.99,Kansas City,MO,481420.0,0.970047,0.087242
37,"Atlanta,GA",1500,115,7.67,Atlanta,GA,472522.0,3.174455,0.243375
38,"Long Beach,CA",1500,67,4.47,Long Beach,CA,470130.0,3.190607,0.142514
39,"Colorado Springs,CO",203,13,6.40,Colorado Springs,CO,465101.0,0.436464,0.027951
40,"Raleigh,NC",574,28,4.88,Raleigh,NC,458880.0,1.250872,0.061018
41,"Miami,FL",1300,47,3.62,Miami,FL,453579.0,2.866094,0.103620
42,"Virginia Beach,VA",365,35,9.59,Virginia Beach,VA,452602.0,0.806448,0.077331
43,"Omaha,NE",205,18,8.78,Omaha,NE,446970.0,0.458644,0.040271
44,"Oakland,CA",2500,44,1.76,Oakland,CA,420005.0,5.952310,0.104761
45,"Minneapolis,MN",819,100,12.21,Minneapolis,MN,413651.0,1.979930,0.241750
46,"Tulsa,OK",154,22,14.29,Tulsa,OK,403090.0,0.382049,0.054578
47,"Arlington,TX",289,40,13.84,Arlington,TX,392772.0,0.735796,0.101840
48,"New Orleans,LA",293,30,10.24,New Orleans,LA,391495.0,0.748413,0.076629

In [66]:
output_final = final_df[['City','state','ratio%']]

In [67]:
final.to_csv("gym_totals.csv", index=False)

In [68]:
output_final.to_csv('city_gym_ratio.csv', index=False)

In [69]:
obesity = pd.read_csv("FiftyCity_ObesityRates.csv")

In [71]:
obesity.head()

  State         City Obesity
0    NM  Albuquerque   21.70%
1    TX    Arlington   35.30%
2    GA      Atlanta   28.70%
3    TX       Austin   27.00%
4    MD    Baltimore   28.00%

In [74]:
obesity_gyms = pd.merge(final_df, obesity, on="City", how="left")

In [89]:
obesity_gyms

,location,total_gyms,total_24hr_gyms,ratio%,City,state,population,total_gyms_per_thousand_people,24 hour gyms per thousand people,State,Obesity
0,"New York,NY",5100,152,2.98,New York,NY,8537673.0,0.597352,0.017803,NY,21.90%
1,"Los Angeles,CA",6600,185,2.80,Los Angeles,CA,3976322.0,1.659825,0.046525,CA,24.30%
2,"Chicago,IL",2300,114,4.96,Chicago,IL,2704958.0,0.850290,0.042145,IL,27.00%
3,"Houston,TX",1500,104,6.93,Houston,TX,2303482.0,0.651188,0.045149,TX,29.10%
4,"Phoenix,AZ",1700,90,5.29,Phoenix,AZ,1615017.0,1.052620,0.055727,AZ,22.80%
5,"Philadelphia,PA",1400,86,6.14,Philadelphia,PA,1567872.0,0.892930,0.054851,PA,24.40%
6,"San Antonio,TX",533,55,10.32,San Antonio,TX,1492510.0,0.357117,0.036851,TX,29.80%
7,"San Diego,CA",2400,75,3.12,San Diego,CA,1406630.0,1.706206,0.053319,CA,26.10%
8,"Dallas,TX",1600,128,8.00,Dallas,TX,1317929.0,1.214026,0.097122,TX,33.80%
9,"San Jose,CA",1900,49,2.58,San Jose,CA,1025350.0,1.853026,0.047789,CA,21.20%
10,"Austin,TX",1200,55,4.58,Austin,TX,947890.0,1.265970,0.058024,TX,27.00%
11,"Jacksonville,FL",341,32,9.38,Jacksonville,FL,880619.0,0.387228,0.036338,FL,26.00%
12,"San Francisco,CA",2600,37,1.42,San Francisco,CA,870887.0,2.985462,0.042485,CA,18.20%
13,"Columbus,OH",438,32,7.31,Columbus,OH,860090.0,0.509249,0.037205,OH,30.50%
14,"Indianapolis,IN",410,51,12.44,Indianapolis,IN,855164.0,0.479440,0.059638,IN,28.20%
15,"Fort Worth,TX",726,80,11.02,Fort Worth,TX,854113.0,0.850005,0.093664,TX,35.30%
16,"Charlotte,NC",562,52,9.25,Charlotte,NC,842051.0,0.667418,0.061754,NC,28.00%
17,"Seattle,WA",1600,44,2.75,Seattle,WA,704352.0,2.271591,0.062469,WA,22.80%
18,"Denver,CO",1600,96,6.00,Denver,CO,693060.0,2.308602,0.138516,CO,19.60%
19,"El Paso,TX",121,19,15.70,El Paso,TX,683080.0,0.177139,0.027815,TX,28.60%
20,"Washington,DC",1200,37,3.08,Washington,DC,681170.0,1.761675,0.054318,DC,25.20%
21,"Boston,MA",1300,21,1.62,Boston,MA,673184.0,1.931121,0.031195,MA,22.00%
22,"Detroit,MI",718,69,9.61,Detroit,MI,672795.0,1.067190,0.102557,MI,33.10%
23,"Nashville,TN",460,48,10.43,Nashville,TN,660388.0,0.696560,0.072685,TN,24.70%
24,"Memphis,TN",174,16,9.20,Memphis,TN,652717.0,0.266578,0.024513,TN,35.80%
25,"Portland,OR",1100,54,4.91,Portland,OR,639863.0,1.719118,0.084393,OR,26.00%
26,"Oklahoma City,OK",237,30,12.66,Oklahoma City,OK,638367.0,0.371260,0.046995,OK,30.10%
27,"Las Vegas,NV",850,72,8.47,Las Vegas,NV,632912.0,1.342999,0.113760,NV,23.10%
28,"Louisville,KY",203,28,13.79,Louisville,KY,616261.0,0.329406,0.045435,KY,31.20%
29,"Baltimore,MD",336,28,8.33,Baltimore,MD,614664.0,0.546640,0.045553,MD,28.00%
30,"Milwaukee,WI",379,41,10.82,Milwaukee,WI,595047.0,0.636924,0.068902,WI,26.00%
31,"Albuquerque,NM",248,32,12.90,Albuquerque,NM,559277.0,0.443430,0.057217,NM,21.70%
32,"Tucson,AZ",306,22,7.19,Tucson,AZ,530706.0,0.576590,0.041454,AZ,26.60%
33,"Fresno,CA",217,15,6.91,Fresno,CA,522053.0,0.415667,0.028733,CA,26.60%
34,"Sacramento,CA",1000,48,4.80,Sacramento,CA,495234.0,2.019247,0.096924,CA,24.00%
35,"Mesa,AZ",1500,77,5.13,Mesa,AZ,484587.0,3.095419,0.158898,AZ,22.80%
36,"Kansas City,MO",467,42,8.99,Kansas City,MO,481420.0,0.970047,0.087242,MO,29.50%
37,"Atlanta,GA",1500,115,7.67,Atlanta,GA,472522.0,3.174455,0.243375,GA,28.70%
38,"Long Beach,CA",1500,67,4.47,Long Beach,CA,470130.0,3.190607,0.142514,CA,24.30%
39,"Colorado Springs,CO",203,13,6.40,Colorado Springs,CO,465101.0,0.436464,0.027951,CO,23.60%
40,"Raleigh,NC",574,28,4.88,Raleigh,NC,458880.0,1.250872,0.061018,NC,27.00%
41,"Miami,FL",1300,47,3.62,Miami,FL,453579.0,2.866094,0.103620,FL,28.30%
42,"Virginia Beach,VA",365,35,9.59,Virginia Beach,VA,452602.0,0.806448,0.077331,VA,30.30%
43,"Omaha,NE",205,18,8.78,Omaha,NE,446970.0,0.458644,0.040271,NE,25.80%
44,"Oakland,CA",2500,44,1.76,Oakland,CA,420005.0,5.952310,0.104761,CA,18.20%
45,"Minneapolis,MN",819,100,12.21,Minneapolis,MN,413651.0,1.979930,0.241750,MN,24.90%
46,"Tulsa,OK",154,22,14.29,Tulsa,OK,403090.0,0.382049,0.054578,OK,30.10%
47,"Arlington,TX",289,40,13.84,Arlington,TX,392772.0,0.735796,0.101840,TX,35.30%
48,"New Orleans,LA",293,30,10.24,New Orleans,LA,391495.0,0.748413,0.076629,LA,32.60%

In [90]:
final.to_csv(final_file, index=False)

In [94]:
obesity_gyms["Obesity percent"] = obesity_gyms["Obesity"].map(lambda x: x.rstrip("%"))
obesity_gyms["Obesity percent"] = obesity_gyms["Obesity percent"].astype(float)
obesity_gyms

KeyError: 'Obesity'

In [86]:
obesity_gyms.plot(kind="scatter", x="Obesity", y="24 hour gyms per thousand people")
plt.tight_layout()

KeyError: 'Obesity'

#

In [ ]:
x_axis = obesity_gyms["city"]
y_axis = obesity_gyms["total_gyms"]

plt.bar(x_axis, y_axis, color="b", align="center")
plt.xticks(rotation=90)
plt.tight_layout()

# Bubble Map

In [ ]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv')
df.head()

df['text'] = df['name'] + '<br>Population ' + (df['pop']/1e6).astype(str)+' million'
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","rgb(255,220,0)"]
cities = []
scale = 50000

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    city = dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        sizemode = 'diameter',
        marker = dict( 
            size = df_sub['pop']/scale, 
            color = colors[i],
            line = dict(width = 2,color = 'black')
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    cities.append(city)

layout = dict(
        title = '2014 US city populations<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',       
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"           
        ),  
    )
    
fig = dict( data=cities, layout=layout )
url = py.plot( fig, validate=False, filename='d3-bubble-map-populations' )